.idea

*.tfstate/
*.tfstate.backup
*.tfplan

.terragrunt-cache/
.terraform/

Pipfile.lock

account.tfvars
private.tfvars
secrets.yaml

packer/
ansible/
modules

experiment

notes.md


#icon/bastion
#icon/consul
#icon/hids
#icon/k8s
#icon/logging
#icon/monitoring
#icon/prep
#icon/vault
