.idea

*.tfstate/
*.tfstate.backup
*.tfplan

.terragrunt-cache/
.terraform/

account.tfvars
private.tfvars
secrets.yaml

packer
ansible
modules

/us-east-1/main/
/us-east-1/services/k8s
/us-east-1/suppport/
/us-east-1/services
/us-east-1/mgmt

