# absolute path
local_public_key: "/home/<user>/.ssh/id_rsa.pub"
# absolute path
local_private_key: "/home/<user>/.ssh/id_rsa"

# leave empty to have ssh open to the world or provide to lock down ssh to corp ip
corporate_ip: "1.2.3.4"

# The path to the keystore
keystore_path: "/home/<user>/keystore"

# The password to the keystore - Must escape special charectors - $ -> $$ for docker compose.
keystore_password: "your password"
# We will soon be replacing this.  You can delete your password from the file when you are done.
