# absolute path
local_public_key: ""
# absolute path
local_private_key: ""

# leave empty to have ssh open to the world or provide to lock down ssh to corp ip
corporate_ip: ""

# The public domain.  Must purchase domain from route53 to use this
public_domain: ""
# The internal domain
internal_domain_name: "icon.internal"
